body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  /*max-width: 800px;*/
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

